.footer {
  background-color: var(--gray-700);
  padding: 1rem;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.socialMedia > a {
  transition: all 0.2s;
}

.socialMedia > a:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}

.iconReference p{
  font-size: var(--size-tiny);
  text-align: center;
  margin: 0 auto;
}