.header {
  background-color: var(--gray-700);
  padding: 2rem 0 0;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.titleTo {
  color: var(--blue-200);
  font-weight: 900;
}

.titleDo {
  color: var(--purple-200);
  font-weight: 900;
}

.addTaskField {
  width: var(--page-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90% 1fr;
  align-items: center;
  gap: 0.625rem;
  transform: translateY(1.7rem);
}

@media (max-width: 768px) {
  .addTaskField {
    grid-template-columns: 1fr;
  }
}

.addTaskContent {
  height: 3.4rem;
  background-color: var(--gray-500);
  border-style: none;
  border-radius: 8px;
  padding: 1rem;
  outline: solid 2px var(--gray-700);

  color: var(--gray-200);
  line-height: 1.4;
  font-size: var(--size-regular);

  resize: none;
}

.addTaskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--blue-300);
  color: var(--gray-100);
  outline: 0;

  height: 3.4rem;
  border-radius: 8px;

  transition: all 0.1s;
}

@media (max-width: 768px) {
  .addTaskButton {
    height: 2.5rem;
    width: 40%;
    justify-self: center;
  }
}

.addTaskButton:hover {
  background-color: var(--blue-200);
  outline: 0;
}

.addTaskButton:focus {
  outline: 0;
}

.plusCircle {
  font-size: 1.125rem;
}
