.header {
  background-color: var(--gray-700);
  padding: 2rem 0 0;
}

.headerLogo {
  display: block;
  margin: 0 auto;
}

.addTaskField {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90% 1fr;
  align-items: center;
  gap: 0.625rem;
  transform: translateY(1.7rem);
}

.addTaskContent {
  height: 3.4rem;
  background-color: var(--gray-500);
  border-style: none;
  border-radius: 8px;
  padding: 1rem;
  outline: solid 2px var(--gray-700);

  color: var(--gray-300);
  line-height: 1.4;
  font-size: var(--size-regular);

  resize: none;
}

.addTaskButton {
  background-color: var(--blue-300);
  color: var(--gray-100);
  outline: 0;

  height: 3.4rem;
  border-radius: 8px;

  transition: all 0.1s;
}

.addTaskButton:hover {
  background-color: var(--blue-200);
  outline: 0;
}

.addTaskButton:focus {
  outline: 0;
}
