:root {
  --white: #fff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --blue-200: #4ea8de;
  --blue-300: #1e6f9f;

  --purple-100: #8284fa;
  --purple-200: #5e60ce;

  --red-500: #e25858;

  --size-tiny: 0.75rem;
  --size-small: 0.875rem;
  --size-regular: 1rem;
  --size-big: 1.5rem;
  --size-huge: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--size-regular);
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-300);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 4rem 1rem 1rem;
  margin: 0 auto;
}

button:focus {
  outline: orange 5px auto;
}

img {
  margin: 0;
}
